# <IfModule mod_rewrite.c>
#     <IfModule mod_negotiation.c>
#         Options -MultiViews -Indexes
#     </IfModule>

#     RewriteEngine On

#     # Handle Authorization Header
#     RewriteCond %{HTTP:Authorization} .
#     RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

#     # Redirect Trailing Slashes If Not A Folder...
#     #RewriteCond %{REQUEST_FILENAME} !-d
#     #RewriteCond %{REQUEST_URI} (.+)/$
#     #RewriteRule ^ %1 [L,R=301]

#     # Send Requests To Front Controller...
#     RewriteCond %{REQUEST_FILENAME} !-d
#     RewriteCond %{REQUEST_FILENAME} !-f
#     RewriteRule ^ index.php [L]

#     # Block direct access to .env and other sensitive files
#     RewriteRule ^(\.env|\.git|\.htaccess|composer\.(json|lock)|package(-lock)?\.json|phpunit\.xml|server\.php|artisan) - [F,L,NC]

# </IfModule>

# <IfModule mod_expires.c>
#     ExpiresActive On
#     ExpiresByType text/css "access plus 1 hour"
#     ExpiresByType application/javascript "access plus 1 hour"
#     ExpiresByType image/jpeg "access plus 24 hours"
#     ExpiresByType image/png "access plus 24 hours"
# </IfModule>

# <IfModule mod_headers.c>
#     Header set Cache-Control "no-cache, no-store, must-revalidate"
#     Header set Pragma "no-cache"
#     Header set Expires 0
# </IfModule>
