* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: "Poppins", serif !important;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    width: 100vw;
}

header {
    position: fixed;
    height: 80px;
    background-color: #FFFFFF;
    width: 100%;
    z-index: 999;
}

.btn-blue {
    background-color: #3273F6;
    border-radius: 100px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
}

.btn-blue:hover {
    background-color: #2054be;
    color: white;
}

.btn-outline-blue {
    border: #3273F6 2px solid;
    border-radius: 100px;
    color: #3273F6;
    text-decoration: none;
    padding: 10px 20px;
}

.badge-custom {
    color: #3273F6;
    padding: 5px 30px;
    border-radius: 100px;
    border: 2px solid #3273F6;
    display: inline-block;
    font-size: 16px !important;
}

.text-tertiary {
    color: #17ada8
}

.card-1{
    border-radius: 24px;
    border: 2px solid #E2E4E9;
    padding: 20px;
    width: 100%;
}

.nav-text {
    text-decoration: none;
    color: #333;
    font-size: 16px !important;
}

section {
    padding-top: 80px;
}

#price {
    background-image: url('/assets/images/bg-price.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 400px;
}


.jumbotron {
    height: 100vh;
}

.jumbotron-title_main {
    font-weight: 700;
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
}
.jumbotron-title_sub {
    font-weight: 900;
    font-size: 3.5rem;
    background: linear-gradient(90deg, rgba(45,139,201,1) 0%, rgba(128,187,62,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 0;
}

.jumbotron-list{
    background-color: #F2F7FA;
    padding: 20px 10px;
    border-radius: 20px;
}

.testimoni-title {
    font-weight: 700;
    background: linear-gradient(90deg, rgba(45,139,201,1) 0%, rgba(128,187,62,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub-title {
    font-size: 18px;
    font-weight: 300;
}

.sub-title-price {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}


.card-price {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    box-shadow: none;
}

.card-price:hover {
    border: 1px solid #3273F6;
}

.card-price:focus {
    border: 1px solid #3273F6;
}

.card-price_header {
    background: linear-gradient(16deg, rgba(45,139,201,1) 0%, rgba(128,187,62,1) 100%);
    padding: 20px;
    border-radius: 12px;
}

.price {
    background-color: rgba(255, 255, 255, 0.572);
    border-radius: 12px;
    color: white;
}

.accordion .card {
    background-color: #FFFFFF;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.accordion .card-header {
    background-color: #FFFFFF;
    border: 1px solid gray;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
    border-radius: 20px;
    border: none;
}

.accordion .card-body {
    border: 1px solid ghostwhite;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
}

.accordion .card-body .content {
    font-size: 18px;
}

.bg-footer-pattern {
    background-image: url('/assets/images/footer.svg');
    height: 256px;
    margin-top: 80px;
}

.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    left: -250px;
    top: 0;
    background-color: white;
    transition: left 0.3s ease;
    z-index: 1001;
    padding: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Warna gelap transparan */
    z-index: 1000; /* Pastikan di bawah sidebar */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}


body.no-scroll {
    overflow: hidden;
}

/* Saat Sidebar Aktif */
.sidebar.show {
    left: 0;
}

/* Tombol Toggle */
.toggle-btn {
    background-color: #3273F6;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.toggle-btn:hover {
    background-color: #2554C7;
}


@media screen and (max-width: 768px) {
    .jumbotron-title_main {
        font-size: 2rem;
    }

    .badge-custom {
        font-size: 12px !important;
    }

    .sub-title {
        font-size: 12px !important;
    }

    .jumbotron {
        height: 100%;
    }

    .accordion .card-body .content {
        font-size: 14px;
    }

}


